* {
    font-family: 'Vazir', sans-serif;
}
.navbar-brand h2 {
    font-weight: bold;
}
.nav-item > a:hover {
    color: #ffc107;
}

.dropdown-menu li a:hover {
    background-color: #ffc107;
}

.main-h1 {
    font-weight: bold;
}
@media(min-width:978px) {
    .main-h1 {
        margin-right: 30px;
    }
}
.main-ul {
    font-weight: 300;
    list-style: none;
    line-height: 50px;
    font-size: 18px;
}

.listOfk {
    list-style: none;
    line-height: 40px;
    font-size: 16px;

}
.listOfk a{
    text-decoration: none;
}
#text {
    font-weight: bold;
}
#copyRight {
    font-size: 13px;
}
.iknow {
    transition: ease-in 0.1s;
}
.iknow:hover {
    border-radius: 5px;
    transition: ease-in 0.1s;
    padding: 0 5px;
    background-color: #ffc107;
}
article div div p a {
    color: black;
    text-decoration: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
}
article div div p a:hover {
    color: rgb(255, 255, 255);
}